.icon-combobox {
  .x-body-wrap-el {
    padding-left: 80px;
  }

  .x-label-el {
    float: left !important;
    width: 75px !important;
    position: absolute !important;
    display: block !important;
    font-size: 14px !important;
  }

  .x-before-input-el {
    width: 20px !important;

    i {
      padding-top: 5px !important;
    }
  }
}
