.icon-combobox-view {
  color: $color;
  font-size: 18px;
  background-color: $base-foreground-color;
  padding: 15px 0px 0px 15px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
}
