.headerview {
  border-left: 0;
  border-top: 0;
  color: $base-foreground-color;
  background-color: $base-color;
}

.headerviewtext {
  font-size: 28px;
  padding: 0 0 0 15px;
  line-height: 50px;
}

@include button-ui(
        $ui: 'headerbutton',
        $background-color: transparent,
        $color: $base-foreground-color,
        $icon-color: $base-foreground-color,
        $border-color: transparent
);
